<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smu.som">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MasterApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_v2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_v2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SOM"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".test.TestActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivityClicked"
            android:exported="false" />
        <activity
            android:name=".version1.GameDataActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".version1.QuestionListActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".version1.GameSettingActivity"
            android:exported="false" />
        <activity
            android:name=".GameResultActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".version1.MypageActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" 변성호 계정 : kakao8830a05931f367c390e6f8d27db7f0ab-->

<!--교수님 카카오 계정                android:scheme="kakaobf210ef78fb5cdbfc6072c511ac2d6fd"-->
                <data
                    android:host="oauth"
                    android:scheme="kakaobf210ef78fb5cdbfc6072c511ac2d6fd" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".version1.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".version1.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.OnlineGameActivity"
            android:exported="true" />
        <activity
            android:name=".game.GameChatActivity"
            android:exported="true"
            android:theme="@style/Transparent" />
        <activity
            android:name=".game.activity.GameTestActivity"
            android:exported="true"
            android:theme="@style/Transparent" />
        <activity
            android:name=".game.activity.GameTestActivity2"
            android:exported="true"
            android:theme="@style/Transparent"/>
        <activity
            android:name=".gameroom.activity.GameRoomListActivity"
            android:exported="true"
            android:theme="@style/Transparent"/>
        <service android:name=".game.service.TaskService"
            android:stopWithTask="false" />
    </application>

</manifest>